<a href="https://colab.research.google.com/github/vigneshwar315/machinelearning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
#series
series1=pd.Series([34,45,67,89],index=(1,2,3,4))
print(series1)
array1=np.array([5,6,3,2])
series2=pd.Series(array1)
print(series2)
dict1={'rajesh':21,'vignesh':22,'charan':23}
series3=pd.Series(dict1)
print(series3)

1    34
2    45
3    67
4    89
dtype: int64
0    5
1    6
2    3
3    2
dtype: int64
rajesh     21
vignesh    22
charan     23
dtype: int64

In [ ]:
import pandas as pd
s1=pd.Series([20,30,40,50],index=["ind","us","uk","aus"])
print(s1[2])
print(s1["us"])
print(s1[["ind","aus"]])
print()
print(s1[1:3])
print(s1["ind":"uk"])
#print(s1[:3])
#print(s1[0:])
print()

40
30
ind    20
aus    50
dtype: int64

us    30
uk    40
dtype: int64
ind    20
us     30
uk     40
dtype: int64

/tmp/ipython-input-1-2353914785.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[2])

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(np.arange(10,17,1))
print(s1)
print("head :",s1.head(3))
print("tail :",s1.tail(2))
print("count :",s1.count())

0    10
1    11
2    12
3    13
4    14
5    15
6    16
dtype: int64
head : 0    10
1    11
2    12
dtype: int64
tail : 5    15
6    16
dtype: int64
count : 7

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(np.arange(10,17,1))
s1.index.name="values"
s1.name="numbers"
print(s1.count())
s2=pd.Series(np.arange(1,6,1))
s3=s1+s2
print(s1)
print(s2)
print(s3)
print(s1.add(s2,fill_value=0))

7
values
0    10
1    11
2    12
3    13
4    14
5    15
6    16
Name: numbers, dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    11.0
1    13.0
2    15.0
3    17.0
4    19.0
5     NaN
6     NaN
dtype: float64
0    11.0
1    13.0
2    15.0
3    17.0
4    19.0
5    15.0
6    16.0
dtype: float64

DataFrames

In [ ]:
import pandas as pd
import numpy as np
print("creating the dataFrame using array")
a1=np.array([10,20,30,40])
a2=np.array([50,60,70,80])
a3=np.array([10,20,30,40])
d1=pd.DataFrame([a1,a2,a3],columns=['a','b','c','d'])
print(d1)
print("creating the dataFrame using series")
s1=pd.Series([10,20,30,40],index=['vignesh','rajesh','ram','charan'])
s2=pd.Series([50,60,70,80],index=['vignesh','rajesh','ram','charan'])
s3=pd.Series([10,20,30,40],index=['vignesh','rajesh','ram','charan'])
d2=pd.DataFrame([s1,s2,s3])
print(d2)

creating the dataFrame using array
    a   b   c   d
0  10  20  30  40
1  50  60  70  80
2  10  20  30  40
creating the dataFrame using series
   vignesh  rajesh  ram  charan
0       10      20   30      40
1       50      60   70      80
2       10      20   30      40

In [ ]:
import pandas as pd
d1=pd.DataFrame({"vignesh": [10,20,30],"ram":[20,30,40],"charan":[120,34,55]})
print(d1)
print(d1.tail(2))
print(d1.iloc[1:,:2])
d1.loc[4]=[40,50,60]
print(d1)
print(d1.vignesh.sum())
print(d1.vignesh.sort_values())

   vignesh  ram  charan
0       10   20     120
1       20   30      34
2       30   40      55
   vignesh  ram  charan
1       20   30      34
2       30   40      55
   vignesh  ram
1       20   30
2       30   40
   vignesh  ram  charan
0       10   20     120
1       20   30      34
2       30   40      55
4       40   50      60
100
0    10
1    20
2    30
4    40
Name: vignesh, dtype: int64

In [ ]:
import pandas as pd
d1=pd.read_csv('/content/sample_data/anscombe.json')
print(d1.to_string())

                                        [
  {"Series":"I"   "X":10.0 "Y":8.04}  NaN
                  "X":8.0  "Y":6.95}  NaN
                  "X":13.0 "Y":7.58}  NaN
                  "X":9.0  "Y":8.81}  NaN
                  "X":11.0 "Y":8.33}  NaN
                  "X":14.0 "Y":9.96}  NaN
                  "X":6.0  "Y":7.24}  NaN
                  "X":4.0  "Y":4.26}  NaN
                  "X":12.0 "Y":10.84} NaN
                  "X":7.0  "Y":4.81}  NaN
                  "X":5.0  "Y":5.68}  NaN
  {"Series":"II"  "X":10.0 "Y":9.14}  NaN
                  "X":8.0  "Y":8.14}  NaN
                  "X":13.0 "Y":8.74}  NaN
                  "X":9.0  "Y":8.77}  NaN
                  "X":11.0 "Y":9.26}  NaN
                  "X":14.0 "Y":8.10}  NaN
                  "X":6.0  "Y":6.13}  NaN
                  "X":4.0  "Y":3.10}  NaN
                  "X":12.0 "Y":9.13}  NaN
                  "X":7.0  "Y":7.26}  NaN
                  "X":5.0  "Y":4.74}  NaN
  {"Series":"III" "X":10.0 "Y":7.46}  NaN
                  "X":8.0  "Y":6.77}  NaN
                  "X":13.0 "Y":12.74} NaN
                  "X":9.0  "Y":7.11}  NaN
                  "X":11.0 "Y":7.81}  NaN
                  "X":14.0 "Y":8.84}  NaN
                  "X":6.0  "Y":6.08}  NaN
                  "X":4.0  "Y":5.39}  NaN
                  "X":12.0 "Y":8.15}  NaN
                  "X":7.0  "Y":6.42}  NaN
                  "X":5.0  "Y":5.73}  NaN
  {"Series":"IV"  "X":8.0  "Y":6.58}  NaN
                           "Y":5.76}  NaN
                           "Y":7.71}  NaN
                           "Y":8.84}  NaN
                           "Y":8.47}  NaN
                           "Y":7.04}  NaN
                           "Y":5.25}  NaN
                  "X":19.0 "Y":12.50} NaN
                  "X":8.0  "Y":5.56}  NaN
                           "Y":7.91}  NaN
                           "Y":6.89}  NaN
]                 NaN      NaN        NaN

In [4]:
import pandas as pd
data = {
    'Subject': ['Math', 'Science', 'English', 'History', 'Computer'],
    'a': [95, 88, 76, 84, 99],
    'b': [94, 90, 86, 81, 96],
    'c': [67, 68, 86, 74, 59],
    'd': [74, 50, 96, 91, 76]
}
df = pd.DataFrame(data)
print(df)
print("\nMaximum value:")
print(df.max(numeric_only=True))
print("\nMinimum value:")
print(df.min(numeric_only=True))
print("\nSum of values:")
print(df.sum(numeric_only=True))
print("\nMean (Average):")
print(df.mean(numeric_only=True))
print("\nMedian:")
print(df.median(numeric_only=True))
print("\nStandard Deviation:")
print(df.std(numeric_only=True))
print("\nDescribe (Summary Statistics):")
print(df.describe())

    Subject   a   b   c   d
0      Math  95  94  67  74
1   Science  88  90  68  50
2   English  76  86  86  96
3   History  84  81  74  91
4  Computer  99  96  59  76

Maximum value:
a    99
b    96
c    86
d    96
dtype: int64

Minimum value:
a    76
b    81
c    59
d    50
dtype: int64

Sum of values:
a    442
b    447
c    354
d    387
dtype: int64

Mean (Average):
a    88.4
b    89.4
c    70.8
d    77.4
dtype: float64

Median:
a    88.0
b    90.0
c    68.0
d    76.0
dtype: float64

Standard Deviation:
a     9.071935
b     6.066300
c    10.034939
d    17.994444
dtype: float64

Describe (Summary Statistics):
               a        b          c          d
count   5.000000   5.0000   5.000000   5.000000
mean   88.400000  89.4000  70.800000  77.400000
std     9.071935   6.0663  10.034939  17.994444
min    76.000000  81.0000  59.000000  50.000000
25%    84.000000  86.0000  67.000000  74.000000
50%    88.000000  90.0000  68.000000  76.000000
75%    95.000000  94.0000  74.000000  91.000000
max    99.000000  96.0000  86.000000  96.000000